<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="/css/main.css" /> -->

    <%- defineContent('styles')%>

    <title>Node.js Course | <%= title %></title>
  </head>
  <body>
    <div class="header"><%- include("./header") %></div>

    <div class="main"><%- defineContent("content") %></div>
    <%- include("./footer")%> <%- defineContent("script") %>
  </body>
</html>
